<nav class="main-header navbar navbar-expand navbar-white navbar-light text-white" style="background-color: #FFD40F; color: #fff !important;">
  <div class="container-fluid"> 
    <%= link_to image_tag("logo.png", size: "142.203x55", alt: "logo"), root_path, class: "navbar-brand"%>
    
    <!-- right navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li> -->
        <li class="nav-item"> 
          <strong> <%= link_to "Home", root_path, class: "nav-link"%>  </strong>
        </li>
        <li class="nav-item d-none d-sm-inline-block"> 
          <strong><%= link_to "Contact", "#", class: "nav-link"%> </strong> 
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
      </ul>
    </div>
  </div> 
</nav>